NODE_NAME={{ probe_node_name }}
INGEST_URL={{ ingest_url }}
INGEST_SECRET={{ ingest_secret }}

LLMS_OPENAI_API_KEY={{ llms_openai_api_key }}
LLMS_ANTHROPIC_API_KEY={{ llms_anthropic_api_key }}
LLMS_GEMINI_API_KEY={{ llms_gemini_api_key }}
LLMS_DEEPSEEK_API_KEY={{ llms_deepseek_api_key }}
LLMS_MISTRAL_API_KEY={{ llms_mistral_api_key }}
LLMS_GROQ_API_KEY={{ llms_groq_api_key }}
LLMS_XAI_API_KEY={{ llms_xai_api_key }}
LLMS_TOGETHER_API_KEY={{ llms_together_api_key }}
LLMS_PERPLEXITY_API_KEY={{ llms_perplexity_api_key }}
LLMS_COHERE_API_KEY={{ llms_cohere_api_key }}
LLMS_FIREWORKS_API_KEY={{ llms_fireworks_api_key }}
LLMS_HUGGINGFACE_API_KEY={{ llms_huggingface_api_key }}
